*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(254, 234, 251);
}
.navigation{
    display: flex;
    list-style: none;
}
.navigation{
    display: flex;
    text-align: right;
    list-style: none;
}
.navi li{
    display: inline-block;
    position: relative;
    color: black;
    padding: 10px;
    margin: 0% 10px;
    font-size: 19px;
}
.navi li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.top{
    align-items: center;
    background-color: rgb(255, 0, 204);
    justify-content: space-between;
}
#top{
    display: flex;
    align-items: center;
    background-color: rgb(255, 0, 204);
    justify-content: space-between;
}
.foot{
    position: absolute;
    bottom: 0px;
}

.product-details{
    padding: 50px;
    width:250px ;
    display:block;
    align-items: center;
}

.product-details img{
height: 350px;
width: 250px;
}
.product-details img:hover{
    transform: scale(1.02);
}
#b1{
    border: none;
    height:40px;
    width: 250px;
    background-color: black;
    color: white;
}
#b1:hover{
    color:black ;
    background-color:white ;
    border:solid black 3px;
}