.footer {
    background-color: rgb(238, 214, 240);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
  }
  
.footer-content{
    max-width: 8100px;
    margin: 0 auto;

}